<div class="about-show-div">

  <h1>Something About Me</h1>

  <p>

    I am Ecuadorian and I am 24 years old. I started to get an interest in coding and web develoment when i was 20 years olds.<br><br>
    I went to a developers boot camp for about 5 months in New York City to learn more about coding and
    web develoment. <br><br>
    After that I stop coding for a couple of years but now I am starting to code again and looking
    for opportunities to help me grow.<br><br>
    I build this website to show projects and to show that I know about coding.<br><br>
    I Like to read in my free time and keep learning about self improvement, coding, and cars.
  </p>

</div>
