<div class="messages-show-div">

  <h1> If you have any questions feel free to reach me via email or linkedin. </h1>
  <h2> Thank You for your time!</h2>

</div>

  <%= mail_to "walterchablamontaleza@gmail.com", "GET IN TOUCH", :class => "messages-show-links" %>

  <h2><%= link_to( image_tag("/assets/linkedin.jpeg"), "https://www.linkedin.com/in/walter-chabla") %> </h2>
