<%= stylesheet_link_tag "application" %>

  <div class="index">

    <h1><a class="wdlink" href="projects/show">Walter Chabla</a></h1>

    <p>
      Hi I am Ecuadorian. I am starting my career as a full stack web developer.
    </p>

  </div>
