<%= stylesheet_link_tag "application" %>

<div class="tittle">

  <h1><a class="wdlink" href="projects/new">WEB DEVELOPER</a></h1>


  <!-- <div class="projects"> -->

    <a href=""><h3>Projects coming soon!!</h3></a>

  <!-- </div> -->

</div>
