<%= stylesheet_link_tag "application" %>

  <div class="index">

    <h1>Walter Chabla</h1>

    <p>
      Hi, I am starting my career as a full stack web developer.
    </p>

    <h3>*RUBY   *JAVASCRIPT   *HTML   *CSS    *GIT    *TERMINAL</h3>

  </div>
