<div class="messages-show-div">

  <h1> Feel free to reach me via email or linkedIn if you have any questions. </h1>
  <h2> Thank You for your time!</h2>

</div>

  <%= mail_to "walterchablamontaleza@gmail.com", "@", :class => "messages-show-links" %>

  <h2><%= link_to( image_tag("/assets/linkedin.jpeg"), "https://www.linkedin.com/in/walter-chabla") %> </h2>

  <h2><%= link_to( image_tag("/assets/github.jpeg"), "https://github.com/walterchabla") %> </h2>
