
  <div class="projects-div">

    <h1> Projects: </h1>

    <a href="https://food-ist.herokuapp.com/"><h1>*Foodist</h1></a>

      <p>
        Foodist is an app that I did with two other classmates. Is an app like YELP. Uses google maps API, HTML, Ruby on Rails and CSS. You type a location and a food cuisine and will give you restaurant results in the area. Still needs work to work with heroku. Local it does work with the API but when upload to heroku there is a problem. Working on fixing the problem.
      </p>

      <br>

      <a href="https://jokes-overflow.herokuapp.com/"><h1>*Joke Land</h1></a>

      <p>
         Joke Land is an app where you can create an account and submit jokes. I did this app with a classmate. The project was to build a fun app and we decided to build an app where people can submit jokes so they can have a laugh. This app is built using HTML, Ruby on Rails and CSS.
      </p>

  </div>
