/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@viewport {

   width: device-width ;
   zoom: 1.0 ;

}

html {

  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('imac.jpg');
  font-family: palatino;

}

.home a {

  background-color: #1fa9ad;
  border-color: white;
  text-decoration: none;
  float: left;
  border: 3px solid;
  padding-right: 15px;
  padding-left: 15px;
  color: white;
  font-size: 8px;

}

.contact a {

  background-color: #1fa9ad;
  border-color: white;
  text-decoration: none;
  float: right;
  border: 3px solid;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  font-size: 8px;

}

.portafolio a {

  background-color: #1fa9ad;
  border-color: white;
  text-decoration: none;
  font-size: 8px;
  padding-right: 15px;
  padding-left: 15px;
  border: 3px solid;
  float: right;
  color: white;

}

.walter a {

  background-color: #1fa9ad;
  border-color: white;
  text-decoration: none;
  font-size: 8px;
  padding-right: 10px;
  padding-left: 10px;
  border: 3px solid;
  float: right;
  color: white;
}

.wdlink {

  border: none;
  color: white;
  text-decoration: none;

}

.projects {

  padding-top: 16%;
  padding-left: 70%;
  font-size: 120%;

}

.projects a {

  color: white;
  text-decoration: none;

}
