/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html {

  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('imac.jpg');
  font-family: palatino;

}

.home a {

  background-color: #1fa9ad;
  border-color: white;
  text-decoration: none;
  float: left;
  border: 3px solid;
  padding-right: 2%;
  padding-left: 2%;
  color: white;
  font-size: 60%;

}

.contact a {

  background-color: #1fa9ad;
  border-color: white;
  text-decoration: none;
  float: right;
  border: 3px solid;
  padding-right: 2%;
  padding-left: 2%;
  color: white;
  font-size: 60%;

}

.portafolio a {

  background-color: #1fa9ad;
  border-color: white;
  text-decoration: none;
  float: right;
  border: 3px solid;
  padding-right: 2%;
  padding-left: 2%;
  color: white;
  font-size: 60%;

}

.about a {

  background-color: #1fa9ad;
  border-color: white;
  text-decoration: none;
  float: right;
  border: 3px solid;
  padding-right: 2%;
  padding-left: 2%;
  color: white;
  font-size: 60%;
}

.wdlink {

  color: white;
  text-decoration: none;

}

.index {

  padding-top: 16%;
  padding-left: 70%;
  font-size: 120%;
  color: white;
  text-decoration: none;

}

.messages-show-links {

  background-color: #5995B0;
  float: right;
  margin-top: 2%;
  margin-right: 45%;
  margin-left: 30%;
  padding: 2% 2% 2% 2%;
  font-size: 200%;
  text-decoration: none;
  color: white;

}

a:hover {

  color: black ;
  background-color: #1296E6 ;

}

.messages-show-div {

  background-color: #ABAFC9;
  float: right;
  margin-top: 10%;
  margin-right: 11%;
  margin-left: 12%;
  font-size: 90%;
  padding: 1% 1% 1% 1%;
  text-decoration: none;
  color: black;
  text-align: center;

}

img {

  float: right;
  width: 6%;
  height: 6%;
  padding-left: 2%;
  margin-top: 3%;
  margin-right: 45%;
  margin-left: 30%;

}

h3 {

  color: #19DB45;

}

.about-show-div {

  background-color: #ABAFC9;
  float: right;
  margin-top: 10%;
  margin-right: 11%;
  margin-left: 12%;
  font-size: 90%;
  padding: 1% 1% 1% 1%;
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 100%;

}
