<!DOCTYPE html>

<%= stylesheet_link_tag "application" %>

<html>

  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <div class="tab">

    <div class="home">

      <a href="/."><h1>HOME</h1></a>

    </div>

    <div class="contact">

      <a href="/messages/show"><h1>CONTACT</h1></a>

    </div>

    <div class= "portafolio">

      <a href=""><h1>PORTAFOLIO</h1></a>

    </div>

    <div class="walter">

      <a href=""><h1>WALTER CHABLA</h1></a>

    </div>

  </div>

  <body>

    <%= yield %>

  </body>

</html>
