<!DOCTYPE html>

<%= stylesheet_link_tag "application" %>

<html>


  <div class="tab">

    <div class="home">

      <a href="/."><h1>Home</h1></a>

    </div>

    <div class="contact">

      <a href="/messages/show"><h1>Contact</h1></a>

    </div>

    <div class="about">

      <a href=""><h1>About</h1></a>

    </div>

    <div class= "portafolio">

      <a href=""><h1>Portafolio</h1></a>

    </div>


  </div>

  <body>

    <%= yield %>

  </body>

</html>
